.employee-detail {
  padding: 20px;
  max-width: 1000px; /* Increased max-width to give more space */
  margin: auto;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.employee-detail h1,
.employee-detail h2 {
  color: #333;
}

.employee-detail p,
.employee-detail li {
  color: #666;
  font-size: 16px;
}

.details-list {
  list-style-type: none;
  padding: 0;
}

.details-list li {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.details-list li:last-child {
  border-bottom: none;
}

.details-table, .ytd-totals-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #f9f9f9; /* Light grey background for clarity */
  table-layout: auto; /* Allow the table to resize based on content */
}

.details-table th, .details-table td,
.ytd-totals-table th, .ytd-totals-table td {
  border: 1px solid #ccc; /* Light gray border for cells */
  padding: 8px 12px; /* Reduced padding to give more room for content */
  text-align: left; /* Align text to the left */
  white-space: nowrap; /* Prevent text from wrapping within cells */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Show ellipsis for overflowing text */
}

.details-table th, .ytd-totals-table th {
  background-color: #f0f0f0; /* Light gray background for header */
  font-weight: bold; /* Bold font for headers */
}

.button-payroll, .button-create {
  padding: 5px 10px;
  margin-top: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4CAF50; /* Soft green */
  color: white;
}

.button-payroll:hover, .button-create:hover {
  background-color: #45a049; /* A darker shade of green */
}

/* Responsive design adjustments */
@media (max-width: 600px) {
  .employee-detail {
    padding: 10px;
    font-size: 14px;
  }

  .details-table, .ytd-totals-table th, .ytd-totals-table td {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

.button-back {
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-back:hover {
  background-color: #bbb;
}

.button-payroll {
  padding: 5px 10px;
  background-color: #4CAF50; /* Soft green */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-payroll:hover {
  background-color: #367c39; /* Darker green for hover effect */
}

.button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50; /* Soft green */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049; /* Slightly darker green on hover */
}

.button-create {
  background-color: #5cb85c; /* Slightly lighter green */
}

.button-create:hover {
  background-color: #4cae4c;
}
